<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>v-if v-else </title>
		<script src="../js/vue2.0.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body> 
		<div id="app">
			<h1>v-if v-else 是否加载</h1>
			<h2 v-if='mas'>原来是真的</h2>
			<h2 v-else>原来是假的</h2>
			
			<h2 v-if='masf'>原来是真的</h2>
			<h2 v-else>原来是假的</h2>
			
			
			<h2 v-show="show">v-show</h2>
			<h2 v-show="showss">v-show</h2>
		</div>
		<script type="text/javascript">
			new Vue({
				 el:'#app',
				 data:{
				 	    mas:false,
						 //mas:true,
						   masf:true,
				 	    show:true,
				 	    showss:false
				 }
			})
		</script>
	</body>
</html>
